@charset "utf-8";

/*
   
   Final Project
   
   Filename: finalProject_Layout.css
   Author: Chris Benzola
   Date:   04/28/2019
*/

/* Footer */
#footer {
	background-color: hsl(291,5%,29%);
	color: ivory;
	text-align: center;
	font-size: 0.8em;
	font-variant:small-caps;
	padding-top: 5px;
	padding-bottom: 5px;
	
   bottom:0;
   width:100%;
	clear: both;
	margin: 0 auto;

}
/* End Footer */




/* Containers */

.glove-container{
	width:100%;
	
		margin: 0;
		padding: 0;
	display:flex;
	column-count:3;
	
}

.athlete-container{
	width:100%;
	
		margin: 0;
		padding: 0;
	display:flex;
	column-count:3;
	margin-left: 50px;
}



.glove-row{
	
			display: flex;
			flex: 0 1 auto;
			flex-direction: row;
			flex-wrap: wrap;
		
}

.glove-row-core{
	margin-left: 0px;
			margin-right: 0px;
			overflow-x: hidden;
}

.player-list{
	list-style: none;
}

/* End Containers */

/* Div Wrapper */
#wrapper_home{
	
	margin: 0 auto;
	position: relative;
	width:1000px;
	max-width: 1284px;
	background-color: #fff;
}
	



/* CSS For Players */
.player{
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 50px;
    
    	
}

/*CSS For TagLine */
#tagLine{
	font-family:bebas;
	margin-left: 5px;
	margin-top: 5px; 
	text-align: center;
	
}
